interactions:
- request:
    body: filter=building%3D%2A+and+geometry%3Apolygon&bpolys=%7B%22type%22%3A+%22FeatureCollection%22%2C+%22features%22%3A+%5B%7B%22type%22%3A+%22Feature%22%2C+%22geometry%22%3A+%7B%22type%22%3A+%22MultiPolygon%22%2C+%22coordinates%22%3A+%5B%5B%5B%5B8.573519%2C+49.415844%5D%2C+%5B8.573125%2C+49.418096%5D%2C+%5B8.573602%2C+49.419967%5D%2C+%5B8.573137%2C+49.423648%5D%2C+%5B8.57776%2C+49.42532%5D%2C+%5B8.579572%2C+49.426242%5D%2C+%5B8.582888%2C+49.426469%5D%2C+%5B8.592864%2C+49.428812%5D%2C+%5B8.611134%2C+[...]
- request:
    body: ''
    headers:
    method: GET
    uri: http://testserver/indicator?name=minimal&layer_key=minimal&dataset=regions&feature_id=3&fid_field=ogc_fid
  response:
    content: '{"apiVersion": "0.14.0", "attribution": {"url": "https://github.com/GIScience/ohsome-quality-analyst/blob/main/data/COPYRIGHTS.md",
      "text": "\u00a9 OpenStreetMap contributors"}, "type": "Feature", "geometry":
      {"type": "MultiPolygon", "coordinates": [[[[8.573519, 49.415844], [8.573125,
      49.418096], [8.573602, 49.419967], [8.573137, 49.423648], [8.57776, 49.42532],
      [8.579572, 49.426242], [8.582888, 49.426469], [8.592864, 49.428812], [8.611134,
      49.425455], [8.628308, 49.442962], [8.637725, 49.440277], [8.647106, 49.437602],
      [8.707905, 49.446383], [8.716206, 49.451763], [8.724684, 49.448596], [8.743338,
      49.446934], [8.745999, 49.45398], [8.741644, 49.457488], [8.752892, 49.459332],
      [8.767943, 49.454273], [8.[...]
- request:
    body: '{"name": "minimal", "layer_key": "minimal", "dataset": "regions", "feature_id":
      "3", "fid_field": "ogc_fid"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: http://testserver/indicator
  response:
    content: '{"apiVersion": "0.14.0", "attribution": {"url": "https://github.com/GIScience/ohsome-quality-analyst/blob/main/data/COPYRIGHTS.md",
      "text": "\u00a9 OpenStreetMap contributors"}, "type": "Feature", "geometry":
      {"type": "MultiPolygon", "coordinates": [[[[8.573519, 49.415844], [8.573125,
      49.418096], [8.573602, 49.419967], [8.573137, 49.423648], [8.57776, 49.42532],
      [8.57[...]
- request:
    body: ''
    headers:
    method: GET
    uri: http://testserver/indicator?name=minimal&layer_key=minimal&dataset=regions&feature_id=Heidelberg&fid_field=name
  response:
    content: '{"apiVersion": "0.14.0", "attribution": {"url": "https://github.com/GIScience/ohsome-quality-analyst/blob/main/data/COPYRIGHTS.md",
      "text": "\u00a9 OpenStreetMap contributors"}, "type": "Feature", "geometry":
      {"type": "MultiPolygon", "coordinates": [[[[8.573519, 49.415844], [8.573125,
  [...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: http://testserver/indicator?name=minimal&layer_key=minimal&dataset=regions&feature_id=3
  response:
    content: '{"apiVersion": "0.14.0", "attribution": {"url": "https://github.com/GIScience/ohsome-quality-analyst/blob/main/data/COPYRIGHTS.md",
      "text": "\u00a9 OpenStreetMap contributors"}, "type": "Feature", "geometry":
      {"type": "MultiPolygon", "coordinates": [[[[8.573519, 49.415844], [8.573125,
      49.418096], [8.57360[...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: http://testserver/indicator?name=minimal&layer_key=minimal&dataset=foo&feature_id=3
  response:
    content: '{"apiVersion":"0.14.0","detail":[{"loc":["query","dataset"],"msg":"value
      is not a valid enumeration member; permitted: ''regions'', ''mapaction_cesdrr_countries''","type":"type_error.enum","ctx":{"enum_values":["regions","mapaction_cesdrr_countries"]}}],"type":"RequestValidationError"}'
    headers:
      content-type:
      - application/json
    status_code: 422
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: http://testserver/indicator?name=minimal&layer_key=minimal&dataset=regions&feature_id=3&flatten=False
  response:
    content: '{"apiVersion": "0.14.0", "attribution": {"url": "https://github.com/GIScience/ohsome-quality-analyst/blob/main/data/COPYRIGHTS.md",
      "text": "\u00a9 OpenStreetMap contributors"}, "type": "Feature", "geometry":
      {"type": "MultiPolygon", "coordinates": [[[[8.573519, 49.415844], [8.573125,
      49.418[...]
- request:
    body: ''
    headers:
    method: GET
    uri: http://testserver/indicator?name=minimal&layer_key=minimal&dataset=regions&feature_id=3&flatten=True
  response:
    content: '{"apiVersion": "0.14.0", "attribution": {"url": "https://github.com/GIScience/ohsome-quality-analyst/blob/main/data/COPYRIGHTS.md",
      "text": "\u00a9 OpenStreetMap contributors"}, "type": "Feature", "geometry":
      {"type": "MultiPolygon", "coordinates": [[[[8.573519, 49.415844], [8.573125,
      49.4180[...]
- request:
    body: ''
    headers:
    method: GET
    uri: http://testserver/indicator?name=minimal&layer_key=minimal&dataset=regions&feature_id=3&include_data=False
  response:
    content: '{"apiVersion": "0.14.0", "attribution": {"url": "https://github.com/GIScience/ohsome-quality-analyst/blob/main/data/COPYRIGHTS.md",
      "text": "\u00a9 OpenStreetMap contributors"}, "type": "Feature", "geometry":
      {"type": "MultiPolygon", "coordinates": [[[[8.573519, 49.415844], [8.573125,
      4[...]
- request:
    body: ''
    headers:
    method: GET
    uri: http://testserver/indicator?name=minimal&layer_key=minimal&dataset=regions&feature_id=3&include_data=True
  response:
    content: '{"apiVersion": "0.14.0", "attribution": {"url": "https://github.com/GIScience/ohsome-quality-analyst/blob/main/data/COPYRIGHTS.md",
      "text": "\u00a9 OpenStreetMap contributors"}, "type": "Feature", "geometry":
      {"type": "MultiPolygon", "coordinates": [[[[8.573519, 49.415844], [8.573125,
      49[...]
- request:
    body: ''
    headers:
    method: GET
    uri: http://testserver/indicator?name=minimal&layer_key=minimal&dataset=regions&feature_id=3&fid_field=ogc_fid&include_html=False
  response:
    content: '{"apiVersion": "0.14.0", "attribution": {"url": "https://github.com/GIScience/ohsome-quality-analyst/blob/main/data/COPYRIGHTS.md",
      "text": "\u00a9 OpenStreetMap contributors"}, "type": "Feature", "geometry":
      {"type": "MultiPolygon", "coordinates": [[[[8.573519, 49.415844], [...]
- request:
    body: ''
    headers:
    method: GET
    uri: http://testserver/indicator?name=minimal&layer_key=minimal&dataset=regions&feature_id=3&fid_field=ogc_fid&include_html=True
  response:
    content: '{"apiVersion": "0.14.0", "attribution": {"url": "https://github.com/GIScience/ohsome-quality-analyst/blob/main/data/COPYRIGHTS.md",
      "text": "\u00a9 OpenStreetMap contributors"}, "type": "Feature", "geometry":
      {"type": "MultiPolygon", "coordinates": [[[[8.573519, 49.415844], [[...]
- request:
    body: ''
    headers:
    method: GET
    uri: http://testserver/indicator?name=minimal&layer_key=minimal&dataset=regions&feature_id=3&fid_field=ogc_fid&include_svg=False
  response:
    content: '{"apiVersion": "0.14.0", "attribution": {"url": "https://github.com/GIScience/ohsome-quality-analyst/blob/main/data/COPYRIGHTS.md",
      "text": "\u00a9 OpenStreetMap contributors"}, "type": "Feature", "geometry":
      {"type": "MultiPolygon", "coordinates": [[[[8.573519, 49.415844], [[...]
- request:
    body: ''
    headers:
    method: GET
    uri: http://testserver/indicator?name=minimal&layer_key=minimal&dataset=regions&feature_id=3&fid_field=ogc_fid&include_svg=True
  response:
    content: '{"apiVersion": "0.14.0", "attribution": {"url": "https://github.com/GIScience/ohsome-quality-analyst/blob/main/data/COPYRIGHTS.md",
      "text": "\u00a9 OpenStreetMap contributors"}, "type": "Feature", "geometry":
      {"type": "MultiPolygon", "coordinates": [[[[8.573519, 49.415844], [8[...]
- request:
    body: ''
    headers:
    method: GET
    uri: http://testserver/indicator?name=minimal&layer_key=amenities&dataset=regions&feature_id=3
  response:
    content: '{"apiVersion":"0.14.0","detail":[{"loc":["__root__"],"msg":"Indicator
      layer combination is invalid: (''minimal'', ''amenities'')","type":"value_error"}],"type":"RequestValidationError"}'
    headers:
      content-type:
      - application/json
    status_code: 422
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: http://testserver/indicator?name=minimal&layer_key=building_count&dataset=regions
  response:
    content: '{"apiVersion":"0.14.0","detail":[{"loc":["query","feature_id"],"msg":"field
      required","type":"value_error.missing"}],"type":"RequestValidationError"}'
    headers:
      content-type:
      - application/json
    status_code: 422
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: http://testserver/indicator?name=minimal&layer_key=building_count&feature_id=3
  response:
    content: '{"apiVersion":"0.14.0","detail":[{"loc":["query","dataset"],"msg":"field
      required","type":"value_error.missing"}],"type":"RequestValidationError"}'
    headers:
      content-type:
      - application/json
    status_code: 422
- request:
    body: '{"name": "minimal", "layer_key": "building_count", "feature_id": "3"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: http://testserver/indicator
  response:
    content: '{"apiVersion":"0.14.0","detail":[{"loc":["body","bpolys"],"msg":"field
      required","type":"value_error.missing"},{"loc":["body","feature_id"],"msg":"extra
      fields not permitted","type":"value_error.extra"},{"loc":["body","__root__"],"msg":"Indicator
      layer combination is invalid: (''minimal'', ''building_count'')","type":"value_error"},{"loc":["body","dataset"],"msg":"field
      required","type":"value_error.missing"},{"loc":["body","__root__"],"msg":"Indicator
      layer combination is invalid: (''minimal'', ''building_count'')","type":"value_error"},{"loc":["body","bpolys"],"msg":"field
      required","type":"value_error.missing"},{"loc":["body","layer"],"msg":"field
      required","type":"value_error.missing"},{"loc":["body","name"],"msg":"Computing
      an Indicator for a Layer with data attached is only supported for the Mapping
      Saturation Indicator.","type":"value_error"},{"loc":["body","feature_id"],"msg":"extra
      fields not permitted","type":"value_error.extra"},{"loc":["body","layer_key"],"msg":"extra
      fields not permitted","type":"value_error.extra"}],"type":"RequestValidationError"}'
    headers:
      content-type:
      - application/json
    status_code: 422
version: 1
