interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.ohsome.org/v1/metadata
  response:
    content: "{\n  \"attribution\" : {\n    \"url\" : \"https://ohsome.org/copyrights\",\n
      \   \"text\" : \"\xA9 OpenStreetMap contributors\"\n  },\n  \"apiVersion\" :
      \"1.8.0\",\n  \"timeout\" : 600.0,\n  \"extractRegion\" : {\n    \"spatialExtent\"
      : {\n      \"type\" : \"Polygon\",\n      \"coordinates\" : [ [ [ -180.0, -90.0
      ], [ 180.0, -90.0 ], [ 180.0, 90.0 ], [ -180.0, 90.0 ], [ -180.0, -90.0 ] ]
      ]\n    },\n    \"temporalExtent\" : {\n      \"fromTimestamp\" : \"2007-10-08T00:00:00Z\",\n
      \     \"toTimestamp\" : \"2022-12-11T21:00Z\"\n    },\n    \"replicationSequenceNumber\"
      : 89822\n  }\n}"
    headers:
      Content-Type:
      - application/json
    status_code: 200
- request:
    body: ''
    headers:
    method: POST
    uri: https://api.ohsome.org/v1/elements/lenght
  response:
    content: "{\n  \"timestamp\" : \"2022-12-14T14:01:28.160+00:00\",\n  \"status\"
      : 404,\n  \"error\" : \"Not Found\",\n  \"path\" : \"/elements/lenght\"\n}"
    headers:
      Content-Type:
      - application/json
    status_code: 404
- request:
    body: bboxes=8.67%2C49.39%2C8.71%2C49.42&filter=geometry%3Alie
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.ohsome.org/v1/elements/length
  response:
    content: "{\n  \"timestamp\" : \"2022-12-14T14:01:28.310709\",\n  \"status\" :
      400,\n  \"message\" : \"Invalid filter syntax. Please look at the additional
      info and examples about the filter parameter at https://docs.ohsome.org/ohsome-api.
      Detailed error message: line 1, column 13: whitespaces, EQUALS (=), NOT_EQUALS
      (!=) or in expected, EOF encountered.\",\n  \"requestUrl\" : \"https://api.ohsome.org/v1/elements/length\"\n}"
    headers:
      Content-Type:
      - application/json
    status_code: 400
version: 1
