interactions:
- request:
    body: filter=highway+in+%28motorway%2C+trunk%2C+primary%2C+secondary%2C%0Atertiary%2C+unclassified%2C+residential%29+and+type%3Away%0A&bpolys=%7B%22type%22%3A+%22FeatureCollection%22%2C+%22features%22%3A+%5B%7B%22type%22%3A+%22Feature%22%2C+%22geometry%22%3A+%7B%22type%22%3A+%22Polygon%22%2C+%22coordinates%22%3A+%5B%5B%5B8.674092%2C+49.404271%5D%2C+%5B8.69585%2C+49.404271%5D%2C+%5B8.69585%2C+49.415552%5D%2C+%5B8.674092%2C+49.415552%5D%2C+%5B8.674092%2C+49.404271%5D%5D%5D%7D%2C+%22properties%22%3A+%7B%7D%7D%5D%7D&time=2008-01-01%2F%2FP1M
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.ohsome.org/v1/elements/length
  response:
    content: "{\n  \"attribution\" : {\n    \"url\" : \"https://ohsome.org/copyrights\",\n
      \   \"text\" : \"\xA9 OpenStreetMap contributors\"\n  },\n  \"apiVersion\" :
      \"1.6.3\",\n  \"result\" : [ {\n    \"timestamp\" : \"2008-01-01T00:00:00Z\",\n
      \   \"value\" : 18612.71\n  }, {\n    \"timestamp\" : \"2008-02-01T00:00:00Z\",\n
      \   \"value\" : 18612.71\n  }, {\n    \"timestamp\" : \"2008-03-01T00:00:00Z\",\n
      \   \"value\" : 19101.77\n  }, {\n    \"timestamp\" : \"2008-04-01T00:00:00Z\",\n
      \   \"value\" : 19101.77\n  }, {\n    \"timestamp\" : \"2008-05-01T00:00:00Z\",\n
      \   \"value\" : 20003.23\n  }, {\n    \"timestamp\" : \"2008-06-01T00:00:00Z\",\n
      \   \"value\" : 23795.14\n  }, {\n    \"timestamp\" : \"2008-07-01T00:00:00[...]
- request:
    body: filter=building%3D%2A+and+geometry%3Apolygon&bpolys=%7B%22type%22%3A+%22FeatureCollection%22%2C+%22features%22%3A+%5B%7B%22type%22%3A+%22Feature%22%2C+%22id%22%3A+1%2C+%22geometry%22%3A+%7B%22type%22%3A+%22Polygon%22%2C+%22coordinates%22%3A+%5B%5B%5B8.656512%2C+49.411047%5D%2C+%5B8.658857%2C+49.410217%5D%2C+%5B8.662864%2C+49.408734%5D%2C+%5B8.662656%2C+49.407493%5D%2C+%5B8.66543%2C+49.406804%5D%2C+%5B8.66702%2C+49.406341%5D%2C+%5B8.669404%2C+49.405746%5D%2C+%5B8.670231%2C+49[...]
[...]
