interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.ohsome.org/v1/metadata
  response:
    content: "{\n  \"attribution\" : {\n    \"url\" : \"https://ohsome.org/copyrights\",\n
      \   \"text\" : \"\xA9 OpenStreetMap contributors\"\n  },\n  \"apiVersion\" :
      \"1.9.0\",\n  \"timeout\" : 600.0,\n  \"extractRegion\" : {\n    \"spatialExtent\"
      : {\n      \"type\" : \"Polygon\",\n      \"coordinates\" : [ [ [ -180.0, -90.0
      ], [ 180.0, -90.0 ], [ 180.0, 90.0 ], [ -180.0, 90.0 ], [ -180.0, -90.0 ] ]
      ]\n    },\n    \"temporalExtent\" : {\n      \"fromTimestamp\" : \"2007-10-08T00:00:00Z\",\n
      \     \"toTimestamp\" : \"2023-03-10T15:00Z\"\n    },\n    \"replicationSequenceNumber\"
      : 91952\n  }\n}"
    headers:
      content-type:
      - application/json
    status_code: 200
- request:
    body: filter=building%3D%2A+and+geometry%3Apolygon&bpolys=%7B%22type%22%3A+%22FeatureCollection%22%2C+%22features%22%3A+%5B%7B%22type%22%3A+%22Feature%22%2C+%22geometry%22%3A+%7B%22type%22%3A+%22MultiPolygon%22%2C+%22coordinates%22%3A+%5B%5B%5B%5B8.573519%2C+49.415844%5D%2C+%5B8.573125%2C+49.418096%5D%2C+%5B8.573602%2C+49.419967%5D%2C+%5B8.573137%2C+49.423648%5D%2C+%5B8.57776%2C+49.42532%5D%2C+%5B8.579572%2C+49.426242%5D%2C+%5B8.582888%2C+49.426469%5D%2C+%5B8.592864%2C+49.428812%5[...]
[...]
- request:
    body: filter=building%3D%2A+and+geometry%3Apolygon&bpolys=%7B%22type%22%3A+%22FeatureCollection%22%2C+%22features%22%3A+%5B%7B%22type%22%3A+%22Feature%22%2C+%22geometry%22%3A+%7B%22type%22%3A+%22MultiPolygon%22%2C+%22coordinates%22%3A+%5B%5B%5B%5B8.573519%2C+49.415844%5D%2C+%5B8.573125%2C+49.418096%5D%2C+%5B8.573602%2C+49.419967%5D%2C+%5B8.573137%2C+49.423648%5D%2C+%5B8.57776%2C+49.42532%5D%2C+%5B8.579572%2C+49.426242%5D%2C+%5B8.582888%2C+49.426469%5D%2C+%5B8.592864%2C+49.428812%5[...]
[...]
- request:
    body: '{"name": "minimal", "dataset": "regions", "feature_id": "3", "fid_field":
      "ogc_fid"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: http://testserver/report
  response:
    content: '{"apiVersion": "0.14.0", "attribution": {"url": "https://github.com/GIScience/ohsome-quality-analyst/blob/main/data/COPYRIGHTS.md",
      "text": "\u00a9 OpenStreetMap contributors"}, "type": "Feature", "geometry":
      {"type": "MultiPolygon", "coordinates": [[[[8.573519, 49.415844], [8.573125,
      49.418096], [8.573602, 49.419967], [8.573137, 49.423648], [8.57776, 49.42532],
      [8.579572, 49.426242], [8.582888, 49.426469], [8.592864, 49.428812], [8.611134,
      49.425455], [8.628308, 49.442962], [8.637725, 49.440277], [8.647106, 49.437602],
      [8.707905, 49.446383], [8.716206, 49.451763], [8.724684, 49.448596], [8.743338,
      49.446934], [8.745999, 49.45398], [8.741644, 49.457488], [8.752892[...]
[...]
- request:
    body: '{"name": "minimal", "dataset": "regions", "feature_id": "3", "include-html":
      true}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: http://testserver/report
  response:
    content: '{"apiVersion": "0.14.0", "attribution": {"url": "https://github.com/GIScience/ohsome-quality-analyst/blob/main/data/COPYRIGHTS.md",
      "text": "\u00a9 OpenStreetMap contributors"}, "type": "Feature", "geometry":
      {"type": "MultiPolygon", "coordinates": [[[[8.573519, 49.415844], [8.573125,
      49.418096], [8.573602, 49.419967], [8.573137, 4[...]
- request:
    body: '{"name": "minimal", "dataset": "regions"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: http://testserver/report
  response:
    content: '{"apiVersion":"0.14.0","detail":[{"loc":["body","bpolys"],"msg":"field
      required","type":"value_error.missing"},{"loc":["body","dataset"],"msg":"extra
      fields not permitted","type":"value_error.extra"},{"loc":["body","feature-id"],"msg":"field
      required","type":"value_error.missing"}],"type":"RequestValidationError"}'
    headers:
      content-type:
      - application/json
    status_code: 422
- request:
    body: '{"name": "minimal", "feature-id": "3"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: http://testserver/report
  response:
    content: '{"apiVersion":"0.14.0","detail":[{"loc":["body","bpolys"],"msg":"field
      required","type":"value_error.missing"},{"loc":["body","feature-id"],"msg":"extra
      fields not permitted","type":"value_error.extra"},{"loc":["body","dataset"],"msg":"field
      required","type":"value_error.missing"}],"type":"RequestValidationError"}'
    headers:
      content-type:
      - application/json
    status_code: 422
- request:
    body: '{"name": "minimal", "dataset": "regions", "feature_id": "3", "flatten":
      false}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: http://testserver/report
  response:
    content: '{"apiVersion": "0.14.0", "attribution": {"url": "https://github.com/GIScience/ohsome-quality-analyst/blob/main/data/COPYRIGHTS.md",
      "text": "\u00a9 OpenStreetMap contributors"}, "type": "Feature", "geometry":
      {"type": "MultiPolygon", "coordinates": [[[[8.573519, 49.415844], [8.573125,
      49.418096], [8.573602, 49.419967], [8.573137, [...]
[...]
- request:
    body: '{"name": "minimal", "dataset": "regions", "feature_id": "3", "include-svg":
      true}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: http://testserver/report
  response:
    content: '{"apiVersion": "0.14.0", "attribution": {"url": "https://github.com/GIScience/ohsome-quality-analyst/blob/main/data/COPYRIGHTS.md",
      "text": "\u00a9 OpenStreetMap contributors"}, "type": "Feature", "geometry":
      {"type": "MultiPolygon", "coordinates": [[[[8.573519, 49.415844], [8.573125,
      49.418096], [8.573602, 49.419967], [8.573137, 4[...]
