interactions:
- request:
    body: filter=highway+in+%28motorway%2C+trunk%2C+motorway_link%2C+trunk_link%2C+primary%2C%0Aprimary_link%2C+secondary%2C+secondary_link%2C+tertiary%2C+tertiary_link%2C%0Aunclassified%2C+residential%29+and+type%3Away%0A&bpolys=%7B%22type%22%3A+%22FeatureCollection%22%2C+%22features%22%3A+%5B%7B%22type%22%3A+%22Feature%22%2C+%22geometry%22%3A+%7B%22type%22%3A+%22Polygon%22%2C+%22coordinates%22%3A+%5B%5B%5B8.674092%2C+49.404271%5D%2C+%5B8.69585%2C+49.404271%5D%2C+%5B8.69585%2C+49.415552%5D%2C+%5B8.674092%2C+49.415552%5D%2C+%5B8.674092%2C+49.404271%5D%5D%5D%7D%2C+%22properties%22%3A+%7B%7D%7D%5D%7D&time=2008-01-01%2F%2FP1M
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.ohsome.org/v1/elements/length
  response:
    content: "{\n  \"attribution\" : {\n    \"url\" : \"https://ohsome.org/copyrights\",\n
      \   \"text\" : \"\xA9 OpenStreetMap contributors\"\n  },\n  \"apiVersion\" :
      \"1.6.3\",\n  \"result\" : [ {\n    \"timestamp\" : \"2008-01-01T00:00:00Z\",\n
      \   \"value\" : 19093.8\n  }, {\n    \"timestamp\" : \"2008-02-01T00:00:00Z\",\n
      \   \"value\" : 19093.8\n  }, {\n    \"timestamp\" : \"2008-03-01T00:00:00Z\",\n
      \   \"value\" : 19746.67\n  }, {\n    \"timestamp\" : \"2008-04-01T00:00:00Z\",\n
      \   \"value\" : 19746.67\n  }, {\n    \"timestamp\" : \"2008-05-01T00:00:00Z\",\n
      \   \"value\" : 20648.12\n  }, {\n    \"timestamp\" : \"2008-06-01T00:00:00Z\",\n
      \   \"value\" : 24440.03\n  }, {\n    \"timestamp\" : \"2008-07-01T00:00:00Z\[...]
- request:
    body: filter=building%3D%2A+and+geometry%3Apolygon&bpolys=%7B%22type%22%3A+%22FeatureCollection%22%2C+%22features%22%3A+%5B%7B%22type%22%3A+%22Feature%22%2C+%22id%22%3A+1%2C+%22geometry%22%3A+%7B%22type%22%3A+%22Polygon%22%2C+%22coordinates%22%3A+%5B%5B%5B8.674092%2C+49.404271%5D%2C+%5B8.69585%2C+49.404271%5D%2C+%5B8.69585%2C+49.415552%5D%2C+%5B8.674092%2C+49.415552%5D%2C+%5B8.674092%2C+49.404271%5D%5D%5D%7D%2C+%22properties%22%3A+%7B%7D%7D%5D%7D&time=2008-01-01%2F%2FP1M
    heade[...]
[...]
