interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.ohsome.org/v1/metadata
  response:
    content: "{\n  \"attribution\" : {\n    \"url\" : \"https://ohsome.org/copyrights\",\n
      \   \"text\" : \"\xA9 OpenStreetMap contributors\"\n  },\n  \"apiVersion\" :
      \"1.6.3\",\n  \"timeout\" : 600.0,\n  \"extractRegion\" : {\n    \"spatialExtent\"
      : {\n      \"type\" : \"Polygon\",\n      \"coordinates\" : [ [ [ -180.0, -90.0
      ], [ 180.0, -90.0 ], [ 180.0, 90.0 ], [ -180.0, 90.0 ], [ -180.0, -90.0 ] ]
      ]\n    },\n    \"temporalExtent\" : {\n      \"fromTimestamp\" : \"2007-10-08T00:00:00Z\",\n
      \     \"toTimestamp\" : \"2022-07-17T13:00Z\"\n    },\n    \"replicationSequenceNumber\"
      : 86286\n  }\n}"
    headers:
      Content-Type:
      - application/json
    status_code: 200
- request:
    body: filter=highway+in+%28motorway%2C+trunk%2C+motorway_link%2C+trunk_link%2C+primary%2C%0Aprimary_link%2C+secondary%2C+secondary_link%2C+tertiary%2C+tertiary_link%2C%0Aunclassified%2C+residential%29+and+type%3Away%0A&bpolys=%7B%22type%22%3A+%22FeatureCollection%22%2C+%22features%22%3A+%5B%7B%22type%22%3A+%22Feature%22%2C+%22geometry%22%3A+%7B%22type%22%3A+%22MultiPolygon%22%2C+%22coordinates%22%3A+%5B%5B%5B%5B8.573519%2C+49.415844%5D%2C+%5B8.573125%2C+49.418096%5D%2C+%5B8.573602[...]
- request:
    body: filter=highway+in+%28motorway%2C+trunk%2C+motorway_link%2C+trunk_link%2C+primary%2C%0Aprimary_link%2C+secondary%2C+secondary_link%2C+tertiary%2C+tertiary_link%2C%0Aunclassified%2C+residential%29+and+type%3Away%0A&bpolys=%7B%22type%22%3A+%22FeatureCollection%22%2C+%22features%22%3A+%5B%7B%22type%22%3A+%22Feature%22%2C+%22geometry%22%3A+%7B%22type%22%3A+%22MultiPolygon%22%2C+%22coordinates%22%3A+%5B%5B%5B%5B8.573519%2C+49.415844%5D%2C+%5B8.573125%2C+49.418096%5D%2C+%5B8.573602[...]
[...]
- request:
    body: filter=amenity%3D%2A+and+%28type%3Away+or+type%3Anode%29&bpolys=%7B%22type%22%3A+%22FeatureCollection%22%2C+%22features%22%3A+%5B%7B%22type%22%3A+%22Feature%22%2C+%22geometry%22%3A+%7B%22type%22%3A+%22MultiPolygon%22%2C+%22coordinates%22%3A+%5B%5B%5B%5B7.818124%2C+13.859122%5D%2C+%5B7.835312%2C+13.859122%5D%2C+%5B7.835312%2C+13.872538%5D%2C+%5B7.818124%2C+13.872538%5D%2C+%5B7.818124%2C+13.859122%5D%5D%5D%5D%7D%2C+%22properties%22%3A+%7B%7D%7D%5D%7D
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.ohsome.org/v1/elements/count
  response:
    content: "{\n  \"attribution\" : {\n    \"url\" : \"https://ohsome.org/copyrights\",\n
      \   \"text\" : \"\xA9 OpenStreetMap contributors\"\n  },\n  \"apiVersion\" :
      \"1.6.3\",\n  \"result\" : [ {\n    \"timestamp\" : \"2022-07-17T13:00:00Z\",\n
      \   \"value\" : 0.0\n  } ]\n}"
    headers:
      Content-Type:
      - application/json
    status_code: 200
[...]
- request:
    body: filter=amenity%3D%2A+and+%28type%3Away+or+type%3Anode%29&bpolys=%7B%22type%22%3A+%22FeatureCollection%22%2C+%22features%22%3A+%5B%7B%22type%22%3A+%22Feature%22%2C+%22geometry%22%3A+%7B%22type%22%3A+%22MultiPolygon%22%2C+%22coordinates%22%3A+%5B%5B%5B%5B7.818124%2C+13.859122%5D%2C+%5B7.835312%2C+13.859122%5D%2C+%5B7.835312%2C+13.872538%5D%2C+%5B7.818124%2C+13.872538%5D%2C+%5B7.818124%2C+13.859122%5D%5D%5D%5D%7D%2C+%22properties%22%3A+%7B%7D%7D%5D%7D&time=2022-01-01%2F2022-07-17
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.ohsome.org/v1/contributions/latest/count
  response:
    content: "{\n  \"attribution\" : {\n    \"url\" : \"https://ohsome.org/copyrights\",\n
      \   \"text\" : \"\xA9 OpenStreetMap contributors\"\n  },\n  \"apiVersion\" :
      \"1.6.3\",\n  \"result\" : [ {\n    \"fromTimestamp\" : \"2022-01-01T00:00:00Z\",\n
      \   \"toTimestamp\" : \"2022-07-17T00:00:00Z\",\n    \"value\" : 0.0\n  } ]\n}"
    headers:
      Content-Type:
      - application/json
    status_code: 200
version: 1
