interactions:
- request:
    body: filter=building%3D%2A+and+building%21%3Dno+and+geometry%3Apolygon&bpolys=%7B%22type%22%3A+%22FeatureCollection%22%2C+%22features%22%3A+%5B%7B%22type%22%3A+%22Feature%22%2C+%22geometry%22%3A+%7B%22type%22%3A+%22MultiPolygon%22%2C+%22coordinates%22%3A+%5B%5B%5B%5B5.779109%2C+33.164272%5D%2C+%5B5.779597%2C+33.165833%5D%2C+%5B5.873785%2C+33.161541%5D%2C+%5B5.953008%2C+33.158386%5D%2C+%5B5.994273%2C+33.156437%5D%2C+%5B6.00104%2C+33.156494%5D%2C+%5B6.003383%2C+33.156322%5D%2C+%5B6.010534%2C+33.159302[...]
[...]
- request:
    body: filter=building%3D%2A+and+building%21%3Dno+and+geometry%3Apolygon&bpolys=%7B%22type%22%3A+%22FeatureCollection%22%2C+%22features%22%3A+%5B%7B%22type%22%3A+%22Feature%22%2C+%22geometry%22%3A+%7B%22type%22%3A+%22Polygon%22%2C+%22coordinates%22%3A+%5B%5B%5B8.674092%2C+49.404271%5D%2C+%5B8.69585%2C+49.404271%5D%2C+%5B8.69585%2C+49.415552%5D%2C+%5B8.674092%2C+49.415552%5D%2C+%5B8.674092%2C+49.404271%5D%5D%5D%7D%2C+%22properties%22%3A+%7B%7D%2C+%22id%22%3A+0%7D%5D%7D&time=2008-01-01%2F%2FP1M
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.ohsome.org/v1/elements/count
  response:
    content: "{\n  \"attribution\" : {\n    \"url\" : \"https://ohsome.org/copyrights\",\n
      \   \"text\" : \"\xA9 OpenStreetMap contributors\"\n  },\n  \"apiVersion\" :
      \"1.9.1\",\n  \"result\" : [ {\n    \"timestamp\" : \"2008-01-01T00:00:00Z\",\n
      \   \"value\" : 0.0\n  }, {\n    \"timestamp\" : \"2008-02-01T00:00:00Z\",\n
      \   \"value\" : 0.0\n  }, {\n    \"timestamp\" : \"2008-03-01T00:00:00Z\",\n
      \   \"value\" : 0.0\n  }, {\n    \"timestamp\" : \"2008-04-01T00:00:00Z\",\n
      \   \"value\" : 0.0\n  }, {\n    \"timestamp\" : \"2008-05-01T00:00:00Z\",\n
      \   \"value\" : 0.0\n  }, {\n    \"timestamp\" : \"2008-06-01T00:00:00Z\",\n
      \   \"value\" : 0.0\n  }, {\n    \"timestamp\" : \"2008-07-01T00:00:00Z\",\n
      \   \"value\" : 0[...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.ohsome.org/v1/metadata
  response:
    content: "{\n  \"attribution\" : {\n    \"url\" : \"https://ohsome.org/copyrights\",\n
      \   \"text\" : \"\xA9 OpenStreetMap contributors\"\n  },\n  \"apiVersion\" :
      \"1.9.1\",\n  \"timeout\" : 600.0,\n  \"extractRegion\" : {\n    \"spatialExtent\"
      : {\n      \"type\" : \"Polygon\",\n      \"coordinates\" : [ [ [ -180.0, -90.0
      ], [ 180.0, -90.0 ], [ 180.0, 90.0 ], [ -180.0, 90.0 ], [ -180.0, -90.0 ] ]
      ]\n    },\n    \"temporalExtent\" : {\n      \"fromTimestamp\" : \"2007-10-08T00:00:00Z\",\n
      \     \"toTimestamp\" : \"2023-06-11T20:00Z\"\n    },\n    \"replicationSequenceNumber\"
      : 94189\n  }\n}"
    headers:
      content-type:
      - application/json
    status_code: 200
- request:
    body: filter=building%3D%2A+and+building%21%3Dno+and+geometry%3Apolygon&bpolys=%7B%22type%22%3A+%22FeatureCollection%22%2C+%22features%22%3A+%5B%7B%22type%22%3A+%22Feature%22%2C+%22geometry%22%3A+%7B%22type%22%3A+%22MultiPolygon%22%2C+%22coordinates%22%3A+%5B%5B%5B%5B8.573519%2C+49.415844%5D%2C+%5B8.573125%2C+49.418096%5D%2C+%5B8.573602%2C+49.419967%5D%2C+%5B8.573137%2C+49.423648%5D%2C+%5B8.57776%2C+49.42532%5D%2C+%5B8.579572%2C+49.426242%5D%2C+%5B8.582888%2C+49.426469%5D%2C+%5B8.[...]
[...]
