interactions:
- request:
    body: filter=building%3D%2A+and+geometry%3Apolygon&bpolys=%7B%22type%22%3A+%22FeatureCollection%22%2C+%22features%22%3A+%5B%7B%22type%22%3A+%22Feature%22%2C+%22geometry%22%3A+%7B%22type%22%3A+%22Polygon%22%2C+%22coordinates%22%3A+%5B%5B%5B8.674092%2C+49.404271%5D%2C+%5B8.69585%2C+49.404271%5D%2C+%5B8.69585%2C+49.415552%5D%2C+%5B8.674092%2C+49.415552%5D%2C+%5B8.674092%2C+49.404271%5D%5D%5D%7D%2C+%22properties%22%3A+%7B%7D%2C+%22id%22%3A+0%7D%5D%7D
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.ohsome.org/v1/elements/count
  response:
    content: "{\n  \"attribution\" : {\n    \"url\" : \"https://ohsome.org/copyrights\",\n
      \   \"text\" : \"\xA9 OpenStreetMap contributors\"\n  },\n  \"apiVersion\" :
      \"1.9.0\",\n  \"result\" : [ {\n    \"timestamp\" : \"2023-03-10T15:00:00Z\",\n
      \   \"value\" : 2113.0\n  } ]\n}"
    headers:
      content-type:
      - application/json
    status_code: 200
- request:
    body: '{"name": "minimal", "bpolys": {"type": "Feature", "geometry": {"type":
      "Polygon", "coordinates": [[[8.674092, 49.404271], [8.69585, 49.404271], [8.69585,
      49.415552], [8.674092, 49.415552], [8.674092, 49.404271]]]}, "properties": {}},
      "topic": "minimal"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: http://testserver/indicator
  response:
    content: '{"apiVersion": "0.14.0", "attribution": {"url": "https://github.com/GIScience/ohsome-quality-analyst/blob/main/data/COPYRIGHTS.md",
      "text": "\u00a9 OpenStreetMap contributors"}, "type": "Feature", "id": 0, "geometry":
      {"type": "Polygon", "coordinates": [[[8.674092, 49.404271], [8.69585, 49.404271],
      [8.69585, 49.415552], [8.674092, 49.415552], [8.674092, 49.404271]]]}, "properties":
      {"metadata": {"name": "Minimal", "description": "An minimal Indicator for testing
      purposes.\n"}, "layer": {"key": "minimal", "name": "Minimal", "description":
      "A minimal layer definition for testing purposes"}, "result": {"description":
      "Some description of the result.\nGood data quality.\n", "timestamp_oqt": "2023-03-14T16:45:39.602394+00:00",
      "timestamp_osm": "2023-03-10T15:00:00+00:00", "value": 1.0, "label": "undefined",
      "class": null}}}'
    headers:
      content-type:
      - application/geo+json
    status_code: 200
[...]
- request:
    body: '{"name": "minimal", "bpolys": {"type": "FeatureCollection", "features":
      [{"type": "Feature", "id": 1, "geometry": {"type": "Polygon", "coordinates":
      [[[8.656512, 49.411047], [8.658857, 49.410217], [8.662864, 49.408734], [8.662656,
      49.407493], [8.66543, 49.406804], [8.66702, 49.406341], [8.669404, 49.405746],
      [8.670231, 49.405537], [8.670667, 49.405696], [8.6771, 49.40437], [8.67815,
      49.404317], [8.679435, 49.404443], [8.681117, 49.404832], [8.682522, 49.405074],
      [8.683802, 49.405287], [8.68525, 49.405729], [8.686198, 49.405954], [...]
[...]
- request:
    body: '{"name": "minimal", "bpolys": {"type": "Feature", "geometry": {"type":
      "Polygon", "coordinates": [[[-15.46875, 37.160317], [45.703125, 37.160317],
      [45.703125, 70.612614], [-15.46875, 70.612614], [-15.46875, 37.160317]]]}, "properties":
      {}}, "topic": "minimal"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: http://testserver/indicator
  response:
    content: "{\"apiVersion\":\"0.14.0\",\"detail\":\"Input GeoJSON Geometry is too
      big. The area should be less than 100 km\xB2.\",\"type\":\"SizeRestrictionError\"}"
    headers:
      content-type:
      - application/json
    status_code: 422
- request:
    body: '{"name": "minimal", "topic": "minimal", "bpolys": {"type": "Feature", "geometry":
      {"type": "Polygon", "coordinates": [[[8.674092, 49.404271], [8.69585, 49.404271],
      [8.69585, 49.415552], [8.674092, 49.415552], [8.674092, 49.404271]]]}, "properties":
      {}}, "include-svg": true, "include-html": true}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: http://testserver/indicator
  response:
    content: '{"apiVersion": "0.14.0", "attribution": {"url": "https://github.com/GIScience/ohsome-quality-analyst/blob/main/data/COPYRIGHTS.md",
      "text": "\u00a9 OpenStreetMap contributors"}, "type": "Feature", "id": 0, "geometry":
      {"type": "Polygon", "coordinates": [[[8.674092, 49.404271], [8.69585, 49.404271],
      [8.69585, 49.415552], [8.674092, 49.415552], [8.674092, 49.404271]]]}, "properties":
      {"metadata": {"name": "Minimal", "description": "An minimal Indicator for testing
      purposes.\n"}, "layer": {"key": "minimal", "name": "Minimal", "description":
      "A minimal layer definition for testing purposes"}, "result": {"description":
      "Some description of the result.\nGood data quality.\n", "svg": "<?xml version=\"1.0\"
      encoding=\"utf-8\" standalone=\"no\"?>\n<!DOCTYPE svg PUBLIC \"-//W3C//DTD SVG
      1.1//EN\"\n  \"http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd\">\n<svg xmlns:xlink=\"http://www.w3.org/1999/xlink\"
      width=\"288pt\" height=\"288pt\" viewBox=\"0 0 288 288\" xmlns=\"http://www.w3.org/2000/svg\"
      version=\"1.1\">\n <metadata>\n  <rdf:RDF xmlns:dc=\"http://purl.org/dc/elements/1.1/\"
      xmlns:cc=\"http://creativecommons.org/ns#\" xmlns:rdf=\"http://www.w3.org/1999/02/22-rdf-syntax-ns#\">\n   <cc:Work>\n    <dc:type
      rdf:resource=\"http://purl.org/dc/dcmitype/StillImage\"/>\n    <dc:date>2023-03-14T17:46:05.340074</dc:date>\n    <dc:format>image/svg+xml</dc:format>\n    <dc:creator>\n     <cc:Agent>\n      <dc:title>Matplotlib
      v3.7.0, https://matplotlib.org/</dc:title>\n     </cc:Agent>\n    </dc:creator>\n   </cc:Work>\n  </rdf:RDF>\n
      </metadata>\n <defs>\n  <style type=\"text/css\">*{stroke-linejoin: round; stroke-linecap:
      butt}</style>\n </defs>\n <g id=\"figure_1\">\n  <g id=\"patch_1\">\n   <path
      d=\"M 0 288 \nL 288 288 \nL 288 0 \nL 0 0 \nz\n\" style=\"fill: #ffffff\"/>\n  </g>\n  <g
      id=\"axes_1\">\n   <g id=\"line2d_1\">\n    <path d=\"M 147.6 256.32 \nL 147.6
      34.56 \n\" clip-path=\"url(#p289e485eb9)\" style=\"fill: none; stroke: #ffffff;
      stroke-width: 1.5; stroke-linecap: square\"/>\n   </g>\n   <g id=\"text_1\">\n    <g
      id=\"patch_2\">\n     <path d=\"M 28.675781 151.279063 \nL 266.524219 151.279063
      \nL 266.524219 139.600938 \nL 28.675781 139.600938 \nz\n\" style=\"fill: #ffffff\"/>\n    </g>\n    <!--
      The creation of the Indicator was unsuccessful. -->\n    <g transform=\"translate(29.675781
      148.199375) scale(0.1 -0.1)\">\n     <defs>\n      <path id=\"DejaVuSans-54\"
      d=\"M -19 4666 \nL 3928 4666 \nL 3928 4134[...]
[...]
- request:
    body: '{"name": "minimal", "topic": "minimal", "bpolys": {"type": "Feature", "geometry":
      {"type": "Polygon", "coordinates": [[[8.674092, 49.404271], [8.69585, 49.404271],
      [8.69585, 49.415552], [8.674092, 49.415552], [8.674092, 49.404271]]]}, "properties":
      {}}, "include_svg": true}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: http://testserver/indicator
  response:
    content: '{"apiVersion": "0.14.0", "attribution": {"url": "https://github.com/GIScience/ohsome-quality-analyst/blob/main/data/COPYRIGHTS.md",
      "text": "\u00a9 OpenStreetMap contributors"}, "type": "Feature", "id": 0, "geometry":
      {"type": "Polygon", "coordinates": [[[8.674092, 49.404271], [8.69585, 49.404271],
      [8.69585, 49.415552], [8.674092, 49.[...]
[...]
- request:
    body: '{"name": "minimal", "bpolys": "{\"type\": \"Feature\", \"geometry\": {\"type\":\"Polygon\",\"coordinates\":[[[8.674092292785645,49.40427147224242],[8.695850372314453,49.40427147224242],[8.695850372314453,49.415552187316095],[8.674092292785645,49.415552187316095],[8.674092292785645,49.40427147224242]]]}}\n",
      "dataset": "foo", "feature_id": "3"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: http://testserver/indicator
  response:
    content: '{"apiVersion":"0.14.0","detail":[{"loc":["body","bpolys"],"msg":"value
      is not a valid dict","type":"type_error.dict"},{"loc":["body","bpolys"],"msg":"value
      is not a valid dict","type":"type_error.dict"},{"loc":["body","topic"],"msg":"field
      required","type":"value_error.missing"},{"loc":["body","dataset"],"msg":"extra
      fields not permitted","type":"value_error.extra"},{"loc":["body","feature_id"],"msg":"extra
      fields not permitted","type":"value_error.extra"},{"loc":["body","__root__"],"msg":"An
      issue with the topic or indicator keys occurred.","type":"value_error"},{"loc":["body","dataset"],"msg":"value
      is not a valid enumeration member; permitted: ''regions'', ''mapaction_cesdrr_countries''","type":"type_error.enum","ctx":{"enum_values":["regions","mapaction_cesdrr_countries"]}},{"loc":["body","topic"],"msg":"field
      required","type":"value_error.missing"},{"loc":["body","bpolys"],"msg":"extra
      fields not permitted","type":"value_error.extra"},{"loc":["body","__root__"],"msg":"An
      issue with the topic or indicator key occurred.","type":"value_error"},{"loc":["body","bpolys"],"msg":"value
      is not a valid dict","type":"type_error.dict"},{"loc":["body","bpolys"],"msg":"value
      is not a valid dict","type":"type_error.dict"},{"loc":["body","topic"],"msg":"field
      required","type":"value_error.missing"},{"loc":["body","name"],"msg":"Computing
      an Indicator for a Topic with data attached is only supported for the Mapping
      Saturation Indicator.","type":"value_error"},{"loc":["body","dataset"],"msg":"extra
      fields not permitted","type":"value_error.extra"},{"loc":["body","feature_id"],"msg":"extra
      fields not permitted","type":"value_error.extra"}],"type":"RequestValidationError"}'
    headers:
      content-type:
      - application/json
    status_code: 422
version: 1
