interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://ohsome-api.heigitk8s.de/metadata
  response:
    body:
      string: "{\"apiVersion\":\"0.0.0\",\"attribution\":{\"url\":\"https://ohsome.org/copyrights\",\"text\":\"\xA9
        OpenStreetMap contributors\"},\"latestTimestamp\":\"2026-05-27T08:50:15+00:00\"}"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"filter":"building=* and building!=no and geometry:polygon","aoi":{"type":"FeatureCollection","features":[{"type":"Feature","geometry":{"type":"Polygon","coordinates":[[[8.573179,49.4236],[8.573244,49.423266],[8.573517,49.421746],[8.573602,49.421029],[8.57363,49.420766],[8.573618,49.420478],[8.573575,49.420208],[8.573487,49.419852],[8.573253,49.419103],[8.57328,49.418634],[8.573262,49.41846],[8.573244,49.418239],[8.573233,49.418026],[8.573211,49.417562],[8.573206,49.417217],[8.573223,49.416902],[8.573288,49.416518],[8.57343,49.415763],[8.573622,49.415734],[8.57398,49.414723],[8.574098,49.414422],[8.574905,49.412659],[8.575126,49.41262],[8.575952,49.412479],[8[...]
- request:
    body: '{"filter":"building=* and building!=no and geometry:polygon","aoi":{"type":"FeatureCollection","features":[{"type":"Feature","geometry":{"type":"Polygon","coordinates":[[[8.573179,49.4236],[8.573244,49.423266],[8.573517,49.421746],[8.573602,49.421029],[8.57363,49.420766],[8.573618,49.420478],[8.573575,49.420208],[8.573487,49.419852],[8.573253,49.419103],[8.57328,49.418634],[8.573262,49.41846],[8.573244,49.418239],[8.573233,49.418026],[8.573211,49.417562],[8.573206,49.417217[...]
- request:
    body: '{"filter":"highway in (motorway, trunk, primary, secondary, tertiary, residential,
      service, living_street, trunk_link, motorway_link, primary_link, secondary_link,
      tertiary_link, unclassified) and geometry:line","aoi":{"type":"FeatureCollection","features":[{"type":"Feature","geometry":{"type":"Polygon","coordinates":[[[8.573179,49.4236],[8.573244,49.423266],[8.573517,49.421746],[8.573602,49.421029],[8.57363,49.420766],[8.573618,49.420478],[8.573575,49.420208],[[...]
- request:
    body: '{"filter":"station=subway and (type:way or type:node)","aoi":{"type":"FeatureCollection","features":[{"type":"Feature","geometry":{"type":"MultiPolygon","coordinates":[[[[7.818124,13.859122],[7.835312,13.859122],[7.835312,13.872538],[7.818124,13.872538],[7.818124,13.859122]]]]},"properties":{}}]},"timeBins":{"start":"2008-05-27","end":"2026-05-01","binSize":"P1M"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://ohsome-api.heigitk8s.de/currentness/count.json
  response:
    body:
      string: "{\"apiVersion\":\"0.0.0\",\"attribution\":{\"url\":\"https://ohsome.org/copyrights\",\"text\":\"\xA9
        OpenStreetMap contributors\"},\"result\":[{\"value\":0,\"start\":\"2008-05-27T00:00:00Z\",\"end\":\"2008-06-27T00:00:00Z\"},{\"value\":0,\"start\":\"2008-06-27T00:00:00Z\",\"end\":\"2008-07-27T00:00:00Z\"},{\"value\":0,\"start\":\"2008-07-27T00:00:00Z\",\"end\":\"2008-08-27T00:00:00Z\"},{\"value\":0,\"start\":\"2008-08-27T00:00:00Z\",\"end\":\"2008-09-27T00:00:00Z\"},{\"value\":0,\"start\":\"2008-09-27T00:00:00Z\",\"end\":\"2008-10-27T00:00:00Z\"},{\"value\":0,\"start\":\"2008-10-27T00:00:00Z\",\"end\":\"2008-11-27T00:00:00Z\"},{\"value\":0,\"star[...]
- request:
    body: ''
    headers:
      authorization:
      - eyJvcmciOiI1YjNjZTM1OTc4NTExMTAwMDFjZjYyNDgiLCJpZCI6ImQzZWYxYzI0N2I2MTRjMTZhOWJlMmJiNjY0ODhmYzkyIiwiaCI6Im11cm11cjEyOCJ9
    method: GET
    uri: https://staging-ohsome-api.heigitk8s.de//metadata
  response:
    body:
      string: "{\"apiVersion\":\"2.0.0a0+98a3562\",\"attribution\":{\"url\":\"https://ohsome.org/copyrights\",\"text\":\"\xA9
        OpenStreetMap contributors\"},\"latestTimestamp\":\"2026-06-25T11:08:14+00:00\"}"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"filter":"building=* and building!=no and geometry:polygon","aoi":{"type":"FeatureCollection","features":[{"type":"Feature","geometry":{"type":"Polygon","coordinates":[[[8.573179,49.4236],[8.573244,49.423266],[8.573517,49.421746],[8.573602,49.421029],[8.57363,49.420766],[8.573618,49.420478],[8.573575,49.420208],[8.573487,49.419852],[8.573253,49.419103],[8.57328,49.418634],[8.573262,49.41846],[8.573244,49.418239],[8.573233,49.418026],[8.573211,49.417562],[8.573206,49.417217[...]
- request:
    body: '{"filter":"building=* and building!=no and geometry:polygon","aoi":{"type":"FeatureCollection","features":[{"type":"Feature","geometry":{"type":"Polygon","coordinates":[[[8.573179,49.4236],[8.573244,49.423266],[8.573517,49.421746],[8.573602,49.421029],[8.57363,49.420766],[8.573618,49.420478],[8.573575,49.420208],[8.573487,49.419852],[8.573253,49.419103],[8.57328,49.418634],[8.573262,49.41846],[8.573244,49.418239],[8.573233,49.418026],[8.573211,49.417562],[8.573206,49.417217[...]
- request:
    body: '{"filter":"highway in (motorway, trunk, primary, secondary, tertiary, residential,
      service, living_street, trunk_link, motorway_link, primary_link, secondary_link,
      tertiary_link, unclassified) and geometry:line","aoi":{"type":"FeatureCollection","features":[{"type":"Feature","geometry":{"type":"Polygon","coordinates":[[[8.573179,49.4236],[8.573244,49.423266],[8.573517,49.421746],[8.573602,49.421029],[8.57363,49.420766],[8.573618,49.420478],[8.573575,49.420208],[[...]
[...]
