interactions:
- request:
    body: ''
    headers:
      authorization:
      - eyJvcmciOiI1YjNjZTM1OTc4NTExMTAwMDFjZjYyNDgiLCJpZCI6ImQzZWYxYzI0N2I2MTRjMTZhOWJlMmJiNjY0ODhmYzkyIiwiaCI6Im11cm11cjEyOCJ9
    method: GET
    uri: https://staging-ohsome-api.heigitk8s.de//metadata
  response:
    body:
      string: "{\"apiVersion\":\"2.0.0a0+981f1cd\",\"attribution\":{\"url\":\"https://ohsome.org/copyrights\",\"text\":\"\xA9
        OpenStreetMap contributors\"},\"temporalExtent\":{\"latestTimestamp\":\"2026-06-26T10:26:42Z\",\"earliestTimestamp\":\"2007-10-08T00:00:00Z\"}}"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"filter":"building=* and building!=no and geometry:polygon","aoi":{"type":"FeatureCollection","features":[{"type":"Feature","geometry":{"type":"Polygon","coordinates":[[[8.573179,49.4236],[8.573244,49.423266],[8.573517,49.421746],[8.573602,49.421029],[8.57363,49.420766],[8.573618,49.420478],[8.573575,49.420208],[8.573487,49.419852],[8.573253,49.419103],[8.57328,49.418634],[8.573262,49.41846],[8.573244,49.418239],[8.573233,49.418026],[8.573211,49.417562],[8.573206,49.417217],[8.573223,49.416902],[8.573288,49.416518],[8.57343,49.415763],[8.573622,49.415734],[8.57398,49.414723],[8.574098,49.414422],[8.574905,49.412659],[8.575126,49.41262],[8.575952,49.412479],[8[...]
- request:
    body: '{"filter":"highway in (motorway, trunk, primary, secondary, tertiary, residential,
      service, living_street, trunk_link, motorway_link, primary_link, secondary_link,
      tertiary_link, unclassified) and geometry:line","aoi":{"type":"FeatureCollection","features":[{"type":"Feature","geometry":{"type":"Polygon","coordinates":[[[8.573179,49.4236],[8.573244,49.423266],[8.573517,49.421746],[8.573602,49.421029],[8.57363,49.420766],[8.573618,49.420478],[8.573575,49.420208],[[...]
- request:
    body: '{"filter":"building=* and building!=no and geometry:polygon","aoi":{"type":"FeatureCollection","features":[{"type":"Feature","geometry":{"type":"Polygon","coordinates":[[[8.573179,49.4236],[8.573244,49.423266],[8.573517,49.421746],[8.573602,49.421029],[8.57363,49.420766],[8.573618,49.420478],[8.573575,49.420208],[8.573487,49.419852],[8.573253,49.419103],[8.57328,49.418634],[8.573262,49.41846],[8.573244,49.418239],[8.573233,49.418026],[8.573211,49.417562],[8.573206,49.417217[...]
- request:
    body: '{"filter":"building=* and building!=no and geometry:polygon","aoi":{"type":"FeatureCollection","features":[{"type":"Feature","geometry":{"type":"Polygon","coordinates":[[[8.670231,49.405537],[8.676274,49.40322],[8.679977,49.401302],[8.677606,49.400029],[8.675503,49.398956],[8.673028,49.39762],[8.673993,49.397162],[8.67519,49.396593],[8.677237,49.395547],[8.678009,49.395158],[8.679476,49.394736],[8.680709,49.394507],[8.681877,49.394459],[8.683035,49.394452],[8.684498,49.394724],[8.685867,49.395161],[8.6868,49.395618],[8.687121,49.395813],[8.688811,49.397352],[8.688818,49.398172],[8.688821,49.398557],[8.69078,49.398786],[8.691904,49.397883],[8.693082,49.397612],[8.694151,49.397277],[8.694371,49.396897],[8.69535,49.396645],[8.697794,49.396595],[8.698,49.397244],[8.697383,49.397369],[8.69755,49.397912],[8.697462,49.398931],[8.69804,49.399857],[8.697702,49.40023],[8.697911,49.400589],[8.697249,49.40193],[8.697251,49.402692],[8.698847,49.404381],[8.698289,49.404777],[8.696815,49.404328],[8.696045,49.404998],[8.69498,49.405405],[8.694901,49.405606],[8.695544,49.406012],[8.695469,49.406699],[8.694151,49.406813],[8.694012,49.407422],[8.690952,49.406788],[8.686198,49.405954],[8.68525,49.405729],[8.683802,49.405287],[8.682522,49.405074],[8.681117,49.404832],[8.679435,49.404443],[8.67815,49.404317],[8.6771,49.40437],[8.670667,49.405696],[8.670231,49.405537]]]},"properties":{"osm_id":-3283787,"boundary":"administrative","admin_level":9,"parents":"-285864,-22027,-62611,-51477","name":"Weststadt","local_name":"Weststadt","name_en":null}}]},"timeSeries":{"start":"2008-06-26","end":"2026-06-01","interval":"P1M"}}'
    headers:
      authorization:
      - eyJvcmciOiI1YjNjZTM1OTc4NTExMTAwMDFjZjYyNDgiLCJpZCI6ImQzZWYxYzI0N2I2MTRjMTZhOWJlMmJiNjY0ODhmYzkyIiwiaCI6Im11cm11cjEyOCJ9
      content-type:
      - application/json
    method: POST
    uri: https://staging-ohsome-api.heigitk8s.de//features/count.json
  response:
    body:
      string: "{\"apiVersion\":\"2.0.0a0+981f1cd\",\"attribution\":{\"url\":\"https://ohsome.org/copyrights\",\"text\":\"\xA9
        OpenStreetMap contributors\"},\"result\":[{\"value\":2,\"timestamp\":\"2008-06-26T00:00:00Z\"},{\"value\":2,\"timestamp\":\"2008-07-26T00:00:00Z\"},{\"value\":2,\"timestamp\":\"2008-08-26T00:00:00Z\"},{\"value\":5,\"timestamp\":\"2008-09-26T00:00:00Z\"},{\"value\":5,\"timestamp\":\"2008-10-26T00:00:00Z\"},{\"value\":5,\"timestamp\":\"2008-11-26T00:00:00Z\"},{\"value\":5,\"timestamp\":\"2008-12-26T00:00:00Z\"},{\"value\":5,\"timestamp\":\"2009-01-26T00:00:00Z\"},{\"value\":5,\"timestamp\":\"2009-02-26T00:00:00Z\"},{\"value\":6,\"timestamp\":\"2009-03-26T00:00:00Z\[...]
[...]
