<div class="oqtSection oqtSection-flex">
    <div class="graphSection indicator-graph">{{svg}}</div>
    <div class="descriptionSection indicator-text">
        <h4>{{indicator_name}} for {{layer_name}}</h4>
        <p>{{traffic_light}}</p>
        <p>{{result_description}}</p>
        <p class="indicator-metadata-text">
            Indicator description:
            <br />
            {{indicator_description}}
        </p>
    </div>
</div>
<hr
    class="indicator-splitline"
    style="
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #e0e0e0;
        margin: 10px auto;
    "
/>
