* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  *::before, *::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

html {
  font-size: calc(1em * .625);
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%; }
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400&subset=latin,latin-ext);
body {
  font-size: 100%;
  letter-spacing: 0;
  text-align: left; 
  font-family: Roboto Condensed !important;}

body,
div,
a,
h1,
h2,
h3,
h4,
h5,
h6,
hlui,
p,
ul,
ol,
li,
img,
label,
input,
select,
blockquote,
fieldset,
legend,
form {
  margin: 0;
  padding: 0; }

main,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
video,
picture {
  display: block; }

iframe {
  border: 0 solid transparent; }

img {
  border: 0;
  display: block;
  max-width: 100%; }

a img {
  border: 0; }
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400&subset=latin,latin-ext);
body {
  font-family: Roboto Condensed;
  font-size: 16px;
  line-height: 24px; }
  body.menu-active {
    max-height: 100vh;
    overflow: hidden; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-bottom: 10px; }

h1 {
  font-size: 50px;
  line-height: 60px;
  letter-spacing: 1px;
  margin-top: 20px; }
  @media screen and (max-width: 479px) {
    h1 {
      font-size: 40px;
      line-height: 46px; } }

h2 {
  font-size: 36px;
  line-height: 44px;
  margin-top: 20px; }
  @media screen and (max-width: 479px) {
    h2 {
      font-size: 30px;
      line-height: 36px; } }

h3 {
  font-size: 24px;
  line-height: 30px;
  margin-top: 20px; }

h4 {
  font-size: 18px;
  line-height: 24px;
  margin-top: 15px;
  margin-bottom: 5px; }

h5 {
  font-size: 14px;
  line-height: 20px;
  margin-top: 10px; }

h6 {
  font-size: 12px;
  line-height: 18px;
  margin-top: 10px; }

hlui
{
  font-size: 28px;
  color: white;
  line-height: 18px;
  margin-top: 10px;

 }

 htrial
 {
   font-size: 28px;
   color: white;
   line-height: 18px;
   margin-top: 10px;
  }

p {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 10px; }
  p:last-child {
    margin-bottom: 0; }

a {
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
  color: #219653; }
  a:hover {
    text-decoration: none;
    color: #146738; }
  a:visited {
    color: #219653; }
  a.link {
    display: inline-block;
    color: #219653;
    text-decoration: none;
    font-size: 18px;
    margin-top: 30px;
    margin-right: 20px; }
    a.link svg {
      vertical-align: middle;
      width: 15px;
      fill: #219653;
      stroke: #219653; }
    a.link.link-email svg {
      stroke-width: 2px; }
    a.link.link-external svg {
      stroke: transparent; }
    a.link:hover {
      color: #146738; }
      a.link:hover svg {
        fill: #146738;
        stroke: #146738; }

ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 40px; }

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block; }

/*
table td:first-child {
  font-weight: bold;
  padding-right: 20px;
  vertical-align: top; }
*/

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #e0e0e0;
  margin: 60px 0 20px; }
  @media screen and (max-width: 479px) {
    hr {
      margin: 30px 0 20px; } }

.hidden {
  display: none; }

.wrapper {
  max-width: 1084px;
  margin: 0 auto; }
  .wrapper .container {
    margin: 0 40px; }
    @media screen and (max-width: 479px) {
      .wrapper .container {
        margin: 0 20px; } }

.appstore-container {
  display: block;
  max-width: 700px;
  margin-top: 40px; }
  .appstore-container a {
    display: inline-block; }
    .appstore-container a:first-child {
      margin-bottom: 20px;
      margin-right: 20px; }
    @media screen and (max-width: 679px) {
      .appstore-container a {
        display: table; }
        .appstore-container a:last-child {
          margin-bottom: 0; } }

.navlink {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 0 20px;
  text-decoration: none; }
  @media screen and (max-width: 479px) {
    .navlink {
      font-size: 18px; } }
  .navlink.active {
    font-weight: 700; }
  .navlink:last-child {
    padding-right: 0; }
  .navlink:hover {
    opacity: .8;
    color: grey; }
  .navlink:visited {
    color: #fff; }

.one-half {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  margin-bottom: 40px; }
  .one-half:last-child {
    margin-left: 40px; }
    @media screen and (max-width: 679px) {
      .one-half:last-child {
        margin-left: 0; } }
  .one-half h3 {
    margin-top: 0; }

.one-third {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.3333%;
          flex: 1 1 33.3333%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center; }
  .one-third img {
    max-width: 80%; }

.two-thirds {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 66.6667%;
          flex: 1 1 66.6667%; }

@media screen and (max-width: 479px) {
  .one-half,
  .one-third,
  .two-thirds {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%; } }



.page-about .hero-container {
  background-image: url("/assets/img/hero/field_mapping.jpg"); }

.page-about .steps {
  background-image: -webkit-gradient(linear, left top, right top, from(#e6efc6), to(#f7e8ac));
  background-image: linear-gradient(to right, #e6efc6, #f7e8ac); }
  .page-about .steps .steps-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 980px;
    margin: 0 auto;
    overflow: hidden; }
    @media screen and (max-width: 767px) {
      .page-about .steps .steps-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .page-about .steps .step {
    position: relative;
    padding: 50px 60px; }
    @media screen and (max-width: 767px) {
      .page-about .steps .step {
        padding: 20px 40px; } }
    @media screen and (max-width: 479px) {
      .page-about .steps .step {
        padding: 20px; } }
    .page-about .steps .step:first-child {
      padding-left: 20px; }
      @media screen and (max-width: 767px) {
        .page-about .steps .step:first-child {
          padding-left: 40px; } }
      @media screen and (max-width: 479px) {
        .page-about .steps .step:first-child {
          padding-left: 20px; } }
    .page-about .steps .step:last-child {
      padding-right: 20px; }
      @media screen and (max-width: 767px) {
        .page-about .steps .step:last-child {
          padding-right: 40px; } }
      @media screen and (max-width: 479px) {
        .page-about .steps .step:last-child {
          padding-right: 20px; } }
    .page-about .steps .step .step-content {
      position: relative;
      z-index: 20; }
      .page-about .steps .step .step-content img {
        display: block;
        margin: 40px auto 0; }
    .page-about .steps .step.step-1 {
      background-color: #e6efc6; }
    .page-about .steps .step.step-2 {
      background-color: #c7e7e0;
      padding: 50px 20px;
      z-index: 10; }
      .page-about .steps .step.step-2::before {
        display: block;
        content: '';
        position: absolute;
        background: #c7e7e0;
        height: 150%;
        width: 114%;
        right: -7%;
        top: -25%;
        -webkit-transform: rotate(5deg);
                transform: rotate(5deg);
        z-index: 0; }
      @media screen and (max-width: 767px) {
        .page-about .steps .step.step-2 {
          padding: 20px 40px; }
          .page-about .steps .step.step-2::before {
            display: none; } }
      @media screen and (max-width: 479px) {
        .page-about .steps .step.step-2 {
          padding: 20px; }
          .page-about .steps .step.step-2::before {
            display: none; } }
    .page-about .steps .step.step-3 {
      background-color: #f7e8ac; }

.page-about .how-works .section-flex {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
  @media screen and (max-width: 679px) {
    .page-about .how-works .section-flex {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }

.page-about .how-works .one-third {
  margin-right: 20px;
  margin-bottom: 20px;
  -ms-flex-item-align: start;
      align-self: flex-start; }
  @media screen and (max-width: 679px) {
    .page-about .how-works .one-third {
      -webkit-box-flex: 1;
          -ms-flex: 1 1 100%;
              flex: 1 1 100%; } }
  .page-about .how-works .one-third:last-child {
    margin-right: 0; }
  .page-about .how-works .one-third img {
    max-width: 100%; }

.page-home .partners-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .page-home .partners-container .partners {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .page-home .partners-container .partners img {
      height: 50px;
      width: auto;
      margin: 20px; }

.page-home .hero-container {
  background-image: url("/assets/img/hero/osm_grey.jpg"); }

.page-data .hero-container {
  background-image: url("/assets/img/hero/msf_mapping.jpg"); }

.page-data .one-half .link {
  margin-top: 10px; }

.page-involved .hero-container {
  background-image: url("/assets/img/hero/mapswipe_mapathon.jpg"); }

.prefooter .container,
footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media screen and (max-width: 767px) {
    .prefooter .container,
    footer .container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  @media screen and (max-width: 767px) {
    .prefooter .container .footer-column,
    footer .container .footer-column {
      margin-bottom: 20px; }
      .prefooter .container .footer-column.last-footer,
      footer .container .footer-column.last-footer {
        margin-bottom: 0; } }
  @media screen and (max-width: 479px) {
    .prefooter .container .footer-column,
    footer .container .footer-column {
      margin-bottom: 10px; } }

.prefooter {
  background-color: #0d1949;
  height: 50px;
  color: #fff; }
  @media screen and (max-width: 479px) {
    .prefooter {
      padding-bottom: 10px; } }
  .prefooter .appstore-container {
    text-align: center;
    margin-top: 20px; }
    .prefooter .appstore-container .appstore-link {
      display: inline-block;
      margin-right: 10px; }
      .prefooter .appstore-container .appstore-link.last {
        margin-right: 0; }
        @media screen and (max-width: 479px) {
          .prefooter .appstore-container .appstore-link.last {
            margin-bottom: 0; } }
  .prefooter .social-link {
    display: inline-block;
    margin-right: 15px;
    opacity: 1;
    -webkit-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    vertical-align: top; }
    .prefooter .social-link:last-child {
      margin-right: 0; }
    .prefooter .social-link:hover {
      opacity: .6;
      text-decoration: none; }
    .prefooter .social-link svg,
    .prefooter .social-link img {
      width: 20px;
      height: 20px;
      vertical-align: top; }

footer {
  background-color: #060e2f;
  color: #fff;
  padding: 10px 0;
  margin-top: 40px;}
  @media screen and (max-width: 479px) {
    footer {
      padding: 15px 0; } }
  footer a:first-child {
    padding-left: 0; }
  footer p {
    margin: 0;
    font-size: 12px; }

.section {
  padding: 75px 40px; }
  @media screen and (max-width: 767px) {
    .section {
      padding: 40px; } }
  @media screen and (max-width: 479px) {
    .section {
      padding: 40px 20px; } }
  .section.section-wide {
    padding: 0; }
    .section.section-wide .section-container {
      max-width: none; }
  .section.section-no-margin {
    padding-bottom: 0; }
  .section .section-container {
    max-width: 980px;
    margin: 0 auto; }
    .section .section-container .rich-text {
      max-width: 700px;
      margin-bottom: 40px; }
      .section .section-container .rich-text:last-child {
        margin-bottom: 0; }
    @media screen and (max-width: 767px) {
      .section .section-container h2 {
        margin-bottom: 25px; } }
  .section .section-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media screen and (max-width: 679px) {
      .section .section-flex {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
    .section .section-flex.image-left .two-thirds {
      margin-left: 40px; }
      @media screen and (max-width: 679px) {
        .section .section-flex.image-left .two-thirds {
          margin-left: 0; } }
    @media screen and (max-width: 679px) {
      .section .section-flex.image-left .one-third {
        display: none; } }
    .section .section-flex.image-right .two-thirds {
      margin-right: 40px; }
      @media screen and (max-width: 679px) {
        .section .section-flex.image-right .two-thirds {
          margin-right: 0; } }
    .section .section-flex.image-right .one-third {
      text-align: right; }
      @media screen and (max-width: 679px) {
        .section .section-flex.image-right .one-third {
          display: none; }
          .section .section-flex.image-right .one-third.keep-image {
            display: block;
            -webkit-box-flex: 1;
                -ms-flex: 1 1 100%;
                    flex: 1 1 100%;
            text-align: center; }
            .section .section-flex.image-right .one-third.keep-image img {
              max-width: 180px;
              margin-top: 20px; } }
      .section .section-flex.image-right .one-third img {
        margin: 0 auto; }
  .section h2 {
    margin-top: 0;
    margin-bottom: 30px; }
  .section div.image-container {
    max-width: none;
    margin: 20px auto;
    padding: 0 20px; }
  .section.dark {
    background-color: #000;
    color: #fff; }
  .section.yellow {
    background-color: #fcb535; }
  .section.green {
    background-color: #aabf56; }
    .section.green a {
      color: #0d1949; }
      .section.green a:hover, .section.green a:visited {
        color: rgba(13, 25, 73, 0.9); }
      .section.green a svg {
        fill: #0d1949;
        stroke: #0d1949; }
      .section.green a.link-external svg {
        fill: #0d1949;
        stroke: transparent; }
  .section.blue {
    background-color: #5482b3; }
  .section.light-blue {
    background-color: #eef2fb; }

.prefooter .container,
footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media screen and (max-width: 767px) {
    .prefooter .container,
    footer .container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  @media screen and (max-width: 767px) {
    .prefooter .container .footer-column,
    footer .container .footer-column {
      margin-bottom: 20px; }
      .prefooter .container .footer-column.last-footer,
      footer .container .footer-column.last-footer {
        margin-bottom: 0; } }
  @media screen and (max-width: 479px) {
    .prefooter .container .footer-column,
    footer .container .footer-column {
      margin-bottom: 10px; } }

.prefooter {
  background-color: #0d1949;
  color: #fff; }
  @media screen and (max-width: 479px) {
    .prefooter {
      padding-bottom: 10px; } }
  .prefooter .appstore-container {s
    text-align: center;
    margin-top: 20px; }
    .prefooter .appstore-container .appstore-link {
      display: inline-block;
      margin-right: 10px; }
      .prefooter .appstore-container .appstore-link.last {
        margin-right: 0; }
        @media screen and (max-width: 479px) {
          .prefooter .appstore-container .appstore-link.last {
            margin-bottom: 0; } }
  .prefooter .social-link {
    display: inline-block;
    margin-right: 15px;
    opacity: 1;
    -webkit-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    vertical-align: top; }
    .prefooter .social-link:last-child {
      margin-right: 0; }
    .prefooter .social-link:hover {
      opacity: .6;
      text-decoration: none; }
    .prefooter .social-link svg,
    .prefooter .social-link img {
      width: 20px;
      height: 20px;
      vertical-align: top; }

footer {
  background-color: #060e2f;
  color: #fff;
  padding: 10px 0; }
  @media screen and (max-width: 479px) {
    footer {
      padding: 15px 0; } }
  footer a:first-child {
    padding-left: 0; }
  footer p {
    margin: 0;
    font-size: 12px; }

.hero-container {
  position: relative;
  background-size: cover;
  background-position: center right;
  min-height: 30vh;
  color: #fff;
  padding: 180px 0 140px; }
  @media screen and (max-width: 767px) {
    .hero-container {
      padding: 140px 0 100px; } }
  .hero-container::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, right top, color-stop(30%, rgba(0, 0, 0, 0.7)), to(transparent));
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 30%, transparent 100%);
    z-index: 0; }
    @media screen and (max-width: 479px) {
      .hero-container::before {
        background: rgba(0, 0, 0, 0.7) 100%; } }
  .hero-container .wrapper {
    position: relative;
    max-width: 1084px;
    margin: 0 auto;
    z-index: 100; }
    @media screen and (max-width: 479px) {
      .hero-container .wrapper {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        text-align: center; } }
  .hero-container .hero-content {
    max-width: 700px;
    margin: 0 40px; }
    @media screen and (max-width: 479px) {
      .hero-container .hero-content {
        margin: 0 20px; } }
  @media screen and (max-width: 679px) {
    .hero-container .appstore-container a {
      display: block; } }
  @media screen and (max-width: 479px) {
    .hero-container .appstore-container a:first-child {
      margin-right: 0; } }

.hero-container-small {
  background-color: #eef2fb;
  color: #0d1949;
  padding: 180px 0 140px; }
  .hero-container-small .wrapper {
    position: relative;
    max-width: 1084px;
    margin: 0 auto;
    z-index: 100; }
    @media screen and (max-width: 479px) {
      .hero-container-small .wrapper {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        text-align: center; } }
  .hero-container-small .hero-content {
    max-width: 700px;
    margin: 0 40px; }
    @media screen and (max-width: 479px) {
      .hero-container-small .hero-content {
        margin: 0 20px; } }
  @media screen and (max-width: 679px) {
    .hero-container-small .appstore-container a {
      display: block; } }
  @media screen and (max-width: 479px) {
    .hero-container-small .appstore-container a:first-child {
      margin-right: 0; } }

.hero-heading {
  margin: 0 auto 25px;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: 1px; }
  @media screen and (max-width: 767px) {
    .hero-heading {
      font-size: 34px;
      line-height: 42px; } }

.hero-subheading {
  margin: 0 auto;
  opacity: 1.0;
  font-size: 18px;
  line-height: 27px;
  font-weight: 300;
  letter-spacing: .5px; }
  @media screen and (max-width: 767px) {
    .hero-subheading {
      font-size: 16px;
      line-height: 24px; } }

header {
  position: fixed;
  top:0px;
  width: 100%;
  z-index: 150;
  box-shadow: !important;
  }
  header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media screen and (max-width: 767px) {
      header .container {
        position: relative; }
        header .container.active .nav-menu {
          display: block;
          height: 100vh;
          top: 55px;
          left: -40px;
          width: calc(100% + 80px); }
          header .container.active .nav-menu > div {
            position: absolute;
            width: 100%;
            top: calc(50% - 80px);
            -webkit-transform: translateY(-50%);
                    transform: translateY(-50%); }
        header .container.active .mobile-menu {
          z-index: 100; }
        header .container.active .burger-menu span {
			color: black;
          background: white;
		  border-style: solid;
border-color:grey;		  } }
    header .container .mapswipe-logo {
      max-width: 250px; }
      @media screen and (max-width: 767px) {
        header .container .mapswipe-logo {
          max-width: 160px;
          padding: 10px 0; } }
    @media screen and (max-width: 767px) {
      header .container .nav-menu {
        display: none;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: white;
        z-index: 10; } }
    header .container .nav-menu .navlink {
      display: inline-block;
      padding: 10px; }
      @media screen and (max-width: 767px) {
        header .container .nav-menu .navlink {
          display: block;
          width: 100%;
          text-align: center;
          padding: 10px;
          color: black } }
      header .container .nav-menu .navlink.active {
        background-color: white !important;
        font-weight: 300; }
    header .container .burger-menu {
      width: 20px;
      height: 15px;
      position: relative;
      margin: 17px auto;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      cursor: pointer;
background: grey;	  }
      header .container .burger-menu span {
        display: block;
        position: absolute;
        height: 3px;
        width: 50%;
        background: white;
        opacity: 1;
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        transition: .25s ease-in-out; }
        header .container .burger-menu span:nth-child(even) {
          left: 50%;
          border-radius: 0 3px 3px 0; }
        header .container .burger-menu span:nth-child(odd) {
          left: 0;
          border-radius: 3px 0 0 3px; }
        header .container .burger-menu span:nth-child(1), header .container .burger-menu span:nth-child(2) {
          top: 0; }
        header .container .burger-menu span:nth-child(3), header .container .burger-menu span:nth-child(4) {
          top: 6px; }
        header .container .burger-menu span:nth-child(5), header .container .burger-menu span:nth-child(6) {
          top: 12.5px; }
    header .container.active span:nth-child(1), header .container.active span:nth-child(6) {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
    header .container.active span:nth-child(2), header .container.active span:nth-child(5) {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg); }
    header .container.active span:nth-child(1) {
      left: 1.5px;
      top: 2.3px; }
    header .container.active span:nth-child(2) {
      left: calc(50% - 1.5px);
      top: 2.3px; }
    header .container.active span:nth-child(3) {
      left: -50%;
      opacity: 0; }
    header .container.active span:nth-child(4) {
      left: 100%;
      opacity: 0; }
    header .container.active span:nth-child(5) {
      left: 1.5px;
      top: 9.5px; }
    header .container.active span:nth-child(6) {
      left: calc(50% - 1.5px);
      top: 9.5px; }
    @media screen and (max-width: 767px) {
      header .container .mobile-menu.hidden {
        display: block;
color:black;		} }

/*# sourceMappingURL=style.css.map */

/* styles for map */
.map {
  max-width: 100%;
  z-index: 2;
  margin-top: 20px;
  margin-bottom: 20px;
}

.map-caption {
    max-width: 95%;
    text-align: left;
    font-size: 1.0em;
    margin-top: 10px;
    margin-bottom:30px;
}

.plot {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 95%;
}

/* styles for projects table */
#projectsTable {
  width: 100%;
}

.paginate_button {
  border: 1px solid #dee2e6;
  height: 18px;
  padding: 0.5rem 0.75rem;
}

.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}

.legend {
	line-height: 12px;
	color: #555;
}
.legend i {
	width: 12px;
	height: 12px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}

.emphasizedNumber {
    text-align: center;
    color: #5382B3;
    font-size: 3.5em;
    font-weight: 800;
    line-height: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.stats-title {
    text-align: center;
    margin-top: 10px;
    font-size: 1.6em;
    font-weight: 300;
    color: #797b7b;
}

.sorting::after {
    content: '\21C5' !important;
}

.sorting_desc::after {
    content: '\21CA' !important;
}


.sorting_asc::after {
    content: '\21C8' !important;
}

.team-image {
    margin: 10px !important;
}

#clinicalTrialsTable {
    max-width: 100% !important;
}


.logoContainer {
    max-height: 25px !important;
    max-width: 65px !important;
}

.studyLegend {
  cursor: pointer;
}
.studyLegend i {
  color: black;
  font-style: normal;
  padding-left: 4px;
}
.support{
	background-color: white;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: white;
  overflow: hidden;
}
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400&subset=latin,latin-ext);
/* Style the links inside the navigation bar */
.topnav a {
  font-size: 16px !important;
  float: left;
  display: block;
  color:  #bf260f ; /*#f2f2f2;*/
  text-align: center;
  /*padding: 14px 16px;*/
  /*text-decoration: none;*/
  font-family: Roboto Condensed !important;
  border-color: 

}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #F8F8F8;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #F8F8F8;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
} 
 /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
} 
.testclass {
    width: 600px;
   height:auto;
    overflow: hidden;
    display: inline-block;
    
}.theme1 {
    width: 29%;
    height: 23%;
    border: 2px dashed grey;
    position: absolute;
    top: 32%;
    left: 12%;
    overflow: none;
    display: none;
	 -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
	background-color:white;
	font-size:14px;
}
#theme2 {
   width: 20%;
    height: 23%;
        border: 2px dashed grey;
    position: absolute;
    top: 32%;
    left: 63%;
  overflow: none;
    display: none;
	  -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
	background-color:white;
	font-size:14px;
}
.image {
       
	   -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto; 

    padding: 10px;
    margin: 10px;

 
    text-align: center;

    position: relative;
}
.image:hover  .theme1 {
    display: block;
}
.image:hover  #theme2 {
    display: block;
}


.row#imgIndex{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-orient: horizontal; 
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    flex-direction: row;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    justify-content: center;

    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;  
    align-items: center;

   

}

.cell {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
  -webkit-flex: 1 1 auto;
    flex: 1 1 auto; 

    padding: 10px;
    margin: 10px;



    text-align: center;
}
.image img {
	max-width:100%;
	border: 2px solid rgba(140,140,140,1);
}
.cell:hover  .theme1 {
    display: block;
}
.cell:hover  #theme2 {
    display: block;
}

.logo {
   height: 70px;
   padding: 10px;
}

.indicator-graph {
    max-height: 200px;
}

.traffic-lights-image {
    max-height: 200px;
}