@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400&subset=latin,latin-ext);
body {
	font-family: Roboto Condensed !important;
	font: inherit;
}
p {
	font-size: 16px;
	line-height: 24px;
	color: #666666;
}
header {

	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 150;
	background-color: white;
	box-shadow:;
	}
header .container .nav-menu .navlink.active {
	background-color: white !important;
	border:1px solid rgb(170, 170, 170);
	font-size: 13px !important;
}
header .container .nav-menu .navlink.active.home {
	background-color: white !important;
	border:1px solid rgb(170, 170, 170);
	height: 39.3px;
		font-size: 13px !important;
}
header .container .nav-menu .navlink.active.home p{

		font-size: 13px !important;
}
header .container .nav-menu .navlink.active p{

		font-size: 13px !important;
}
header .container .nav-menu {
	background-color: white;
}
.img-center {
	display: flex;              /* establish flex container */
    flex-direction: column;     /* stack flex items vertically */
    justify-content: center;    /* center items vertically, in this case */
    align-items: center;        /* center items horizontally, in this case */
    height: 100px;

}
.img-center-img {
	text-align:center;
}
h5 {
    font-size: 22px;
    line-height: 28px;
	color: #666666;
}
#section-top {
	padding: 85px 40px  15px 40px;

}

.map-caption {
	padding-top: 30px !important;
}
a {
	color:#bf260f !important;
	text-decoration:none;
}
.nav-tabs a {
	font-size: 14px !important;
}
.logoContainer{
	background-color: white !important;
}
/* #######################################  css for index.html starts here #################################### */
* {
  box-sizing: border-box !important;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left !important;
  width: 40% !important;
  padding: 10px !important;
  margin: 3%;
  height: 450px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row.osm:after {
  content: "" !important;
  display: table !important;
  clear: both !important;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 599px) {
  
  .column {
    width: 100% !important;
  }
}
.dropbtn {
  background-color: white;
  color: grey;
  padding: 5px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border: 1px solid grey;

}

.dropdown {
  position: relative;
  display: inline-block;
  height:5%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: white}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: white;
}



.select {
  height: 40px;
  width: 30%;
  overflow: hidden;
  position: relative;
  border-radius: 4px;
  margin-bottom: 1em;
  background-color:white;
}

.select:after {
  content: "▼";
  padding: 12px 8px;
  position: absolute;
  right: 10px;
  top: 0;
  z-index: 1;
  text-align: center;
  width: 10%;
  height: 100%;
  pointer-events: none;
}


.minimal {
  height: 40px;
  width: 100%;
  padding: 5px 15px;
  color: #616263;
  background-color: white;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  outline: none;
  font-size: 16px;
  -webkit-appearance: none;
  /* for webkit browsers */
  -moz-appearance: none;
  /* for firefox */
  appearance: none;
  /* for modern browsers */
}

/* remove default caret for ie */

.minimal::-ms-expand {
  display: none;
}

.minimal:focus:invalid {
  border-color: #FD6347;
}

.minimal:required:valid {
  border-color: #006400;
}


.btn-submit, .btn-report{
  color: #fff;
  display: block;
  padding: 15px;
  text-transform: uppercase;
  background: #535C69;

  border: none;
  border-radius: 5px;
   cursor: pointer;
    display: inline-block;
}

.btn-submit2 {
  color: #fff;
  display: block;
  padding: 15px;
  text-transform: uppercase;
  background: grey;

  border: none;
  border-radius: 5px;
   cursor: pointer;
    display: inline-block;
}
.btn-report2{
  color: #fff;
  display: block;
  padding: 15px;
  text-transform: uppercase;
  background: grey;

  border: none;
  border-radius: 5px;
   cursor: pointer;
    display: inline-block;
}
.btn-submit:hover
{
  background-color: grey;
    color: white;

}
.btn-report:hover
{
  background-color: grey;
    color: white;

}
.buttons {
	float:left;
}
.buttons2 {
	float:right;
}
#topButton {
	float:right;
	
}