@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/RobotoCondensed-Regular.ttf");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  *::before, *::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

html {
  font-size: calc(1em * .625);
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%; }

body,
div,
a,
h1,
h2,
h3,
h4,
h5,
h6,
hlui,
p,
ul,
ol,
li,
img,
label,
input,
select,
blockquote,
fieldset,
legend,
form {
  margin: 0;
  padding: 0; }

main,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
video,
picture {
  display: block; }


iframe {
  border: 0 solid transparent; }

img {
  border: 0;
  display: block;
  max-width: 100%; }

a img {
  border: 0; }

body {
  font-family: "Roboto Condensed", "Arial Narrow", Arial, Helvetica, sans-serif;
  line-height: 24px; 
  font-size: 1.5em;
  font-size: 100%;
  font-weight: 400;
  letter-spacing: 0;
  text-align: left; 

}
  body.menu-active {
    max-height: 100vh;max-width: 980px;
    margin: 0 auto;
    overflow: hidden; 
}

.splitline {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #e0e0e0;
  max-width: 980px;
  margin: 10px auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-bottom: 10px; }

h1 {
  font-size: 50px;
  line-height: 60px;
  letter-spacing: 1px;
  margin-top: 20px; }
  @media screen and (max-width: 479px) {
    h1 {
      font-size: 40px;
      line-height: 46px; } }

h2 {
  font-size: 36px;
  line-height: 44px;
  margin-top: 20px; }
  @media screen and (max-width: 479px) {
    h2 {
      font-size: 30px;
      line-height: 36px; } }

h3 {
  font-size: 24px;
  line-height: 30px;
  margin-top: 20px; }

h4 {
  font-size: 18px;
  line-height: 24px;
  margin-top: 15px;
  margin-bottom: 5px; }

h5 {
  font-size: 22px;
  line-height: 28px;
  color: #666666;
  margin-top: 10px; 
}

h6 {
  font-size: 12px;
  line-height: 18px;
  margin-top: 10px; }

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 125%;
  margin-top: 0;
  margin-bottom: 10px; }
  p:last-child {
    margin-bottom: 0; }

a {
  text-decoration:none;
  font-weight: bold;
  color: #bf260f; }
  a:hover {
    text-decoration: underline;
   }
ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 40px; }

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block; }

.hidden {
  display: none; }

.wrapper {
  max-width: 1084px;
  margin: 0 auto; }
  .wrapper .container {
    margin: 0 40px; }
    @media screen and (max-width: 479px) {
      .wrapper .container {
        margin: 0 20px; } }

.navlink {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 0 20px;
  text-decoration: none; }
  @media screen and (max-width: 479px) {
    .navlink {
      font-size: 18px; } 
  }

  .navlink:hover {
    text-decoration: none;
    background-color: #F8F8F8;
}

.one-half {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  margin-bottom: 40px; }
  .one-half:last-child {
    margin-left: 40px; }
    @media screen and (max-width: 679px) {
      .one-half:last-child {
        margin-left: 0; } }
  .one-half h3 {
    margin-top: 0; }

.one-third {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.3333%;
          flex: 1 1 33.3333%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center; }
  .one-third img {
    max-width: 90%; }

.two-thirds {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 66.6667%;
          flex: 1 1 66.6667%; }

@media screen and (max-width: 479px) {
  .one-half,
  .one-third,
  .two-thirds {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%; } }


.page-about .hero-container {
  background-image: url("/assets/img/hero/osm_grey.jpg"); }

.page-home .hero-container {
  background-image: url("/assets/img/hero/osm_grey.jpg"); }

.section {
  padding: 25px 40px; }
  @media screen and (max-width: 767px) {
    .section {
      padding: 40px; } }
  @media screen and (max-width: 479px) {
    .section {
      padding: 40px 20px; } }
  .section.section-wide {
    padding: 0; }
    .section.section-wide .section-container {
      max-width: none; }
  .section.section-no-margin {
    padding-bottom: 0; }
  .section .section-container {
    max-width: 980px;
    margin: 0 auto; }
    .section .section-container .rich-text {
      max-width: 700px;
      margin-bottom: 40px; }
      .section .section-container .rich-text:last-child {
        margin-bottom: 0; }
    @media screen and (max-width: 767px) {
      .section .section-container h2 {
        margin-bottom: 25px; } }
  .section .section-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media screen and (max-width: 679px) {
      .section .section-flex {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
    .section .section-flex.image-left .two-thirds {
      margin-left: 40px; }
      @media screen and (max-width: 679px) {
        .section .section-flex.image-left .two-thirds {
          margin-left: 0; } }
    @media screen and (max-width: 679px) {
      .section .section-flex.image-left .one-third {
        display: none; } }
    .section .section-flex.image-right .two-thirds {
      margin-right: 40px; }
      @media screen and (max-width: 679px) {
        .section .section-flex.image-right .two-thirds {
          margin-right: 0; } }
    .section .section-flex.image-right .one-third {
      text-align: right; }
      @media screen and (max-width: 679px) {
        .section .section-flex.image-right .one-third {
          display: none; }
          .section .section-flex.image-right .one-third.keep-image {
            display: block;
            -webkit-box-flex: 1;
                -ms-flex: 1 1 100%;
                    flex: 1 1 100%;
            text-align: center; }
            .section .section-flex.image-right .one-third.keep-image img {
              max-width: 180px;
              margin-top: 20px; } }
      .section .section-flex.image-right .one-third img {
        margin: 0 auto; }
  .section h2 {
    margin-top: 0;
    margin-bottom: 30px; }
  .section.light-blue {
      background-color: #eef2fb;
  }

header {
  background-color: white;
  position: fixed;
  top:0px;
  width: 100%;
  height: 70px;
  z-index: 150;
  }
  header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    header .container .oqt-logo {
      max-width: 250px; }
    header .container .nav-menu {
      margin-left: auto;
    }
      header .container .nav-menu .navlink {
        font-weight: bold;
        display: inline-block;
        padding: 20px; }

      @media screen and (max-width: 767px) {
        header .container {
          position: relative; }
        header .container .nav-menu {
          display: none; }
        header .container .oqt-logo {
          max-width: 160px;
          padding: 10px 0; } }

  @media screen and (max-width: 720px) {
    .section-flex{
      flex-direction: column;
    }
    .one-half:last-child{
      margin-left:0px;
    }
  }

footer {
  background-color: #FFFFFF;
  padding: 10px 0;
  margin-top: 40px;}
  @media screen and (max-width: 479px) {
    footer {
      padding: 15px 0; } }
  footer a:first-child {
    padding-left: 0; }
  footer p {
    margin: 0;
    font-size: 12px; }
  footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  
  @media screen and (max-width: 767px) {
    footer .container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } 
  }
  @media screen and (max-width: 767px) {
    footer .container .footer-column {
      margin-bottom: 20px; }
    footer .container .footer-column.last-footer {
        margin-bottom: 0; } 
  }
  @media screen and (max-width: 479px) {
    footer .container .footer-column {
      margin-bottom: 10px; } }
  
  footer .heigit-logo a img {
    height: 40px;
    bottom: 5px;
    position: relative;
  }
  footer .heigit-logo {
      max-width: 150px;
  }

.hero-container {
  margin-top: 70px;
  position: relative;
  background-size: cover;
  background-position: center right;
  min-height: 30vh;
  color: #fff;
  padding: 140px 0 140px; }
  @media screen and (max-width: 767px) {
    .hero-container {
      padding: 140px 0 100px; } }
  .hero-container::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, right top, color-stop(30%, rgba(0, 0, 0, 0.7)), to(transparent));
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 30%, transparent 100%);
    z-index: 0; }
    @media screen and (max-width: 479px) {
      .hero-container::before {
        background: rgba(0, 0, 0, 0.7) 100%; } }
  .hero-container .wrapper {
    position: relative;
    max-width: 1084px;
    margin: 0 auto;
    z-index: 100; }
    @media screen and (max-width: 479px) {
      .hero-container .wrapper {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        text-align: center; } }
  .hero-container .hero-content {
    max-width: 700px;
    margin: 0 40px; }
    @media screen and (max-width: 479px) {
      .hero-container .hero-content {
        margin: 0 20px; } }

.hero-heading {
  margin: 0 auto 25px;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: 1px; }
  @media screen and (max-width: 767px) {
    .hero-heading {
      font-size: 34px;
      line-height: 42px; } }

.hero-subheading {
  margin: 0 auto;
  opacity: 1.0;
  font-size: 18px;
  line-height: 27px;
  font-weight: 300;
  letter-spacing: .5px; }
  @media screen and (max-width: 767px) {
    .hero-subheading {
      font-size: 16px;
      line-height: 24px; } }


/* styles for map */
.map {
  max-width: 100%;
  z-index: 2;
  margin-top: 20px;
  margin-bottom: 20px;
}

.info {
  font-family: "Roboto Condensed", "Arial Narraw", Arial, Helvetica, sans-serif;
	padding: 6px 8px;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  color: #666666;
}
.info h5 {
	font-size: 11px;
	line-height: 12px;
}
.info p {
	font-size: 10px;
	line-height: 11px;
}

.legend {
	line-height: 12px;
	color: #555;
}
.legend i {
	width: 12px;
	height: 12px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}

.logo {
   padding: 10px;
}

.indicator-graph {
  margin-right: 25px;
  display: block;
  overflow: hidden;
}
.indicator-graph svg {
  max-width:100%;
  position: relative;
  height: auto;
  min-height: 100% !important;
}

.miniMap {
    z-index: 1;
    min-width: 250px;
    margin: 0 auto;
    position:relative;
}

#traffic_map_space {
  position: relative;
}

/*invisible block to make map unclickable*/
#traffic_map_space::before {
  content: "";
  z-index: 100;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
}

html {
    scroll-behavior: smooth;
}

/*Styles for animated top navigation*/
.drop-nav {
  display:none;
  position: relative;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .drop-nav {
    font-size: 35px;
    display:block;
  }
}
input#anim-menu {
  display: none;
}

.anim-icon {
  background: #FFF;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
}

label.anim-icon {
  z-index: 200;
}

.anim-icon .anim-menu,
.anim-icon .anim-menu::before,
.anim-icon .anim-menu::after {
    background: #bf260f;
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    transition: background ease .3s, top ease .3s .3s, transform ease .3s;
    width: 20px;
}

.anim-icon:hover .anim-menu,
.anim-icon:hover .anim-menu::before,
.anim-icon:hover .anim-menu::after {
    background: #df7666;
}

.anim-icon .anim-menu::before {
    top: -6px;
}

.anim-icon .anim-menu::after {
    top: 6px;
}

#anim-menu:checked + .anim-icon .anim-menu {
    background: transparent;
}

#anim-menu:checked + .anim-icon .anim-menu::before {
    transform: rotate(45deg);
}

#anim-menu:checked + .anim-icon .anim-menu::after {
    transform: rotate(-45deg);
}

#anim-menu:checked + .anim-icon .anim-menu::before,
#anim-menu:checked + .anim-icon .anim-menu::after {
    top: 0;
    transition: top ease .3s, transform ease .3s .3s;
}

.anim-nav {
    background: #FFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    height: 0px;
    transition: height ease .6s;
    z-index: 100;
    overflow: hidden;
    width: 100%;
    top:70px;
    position: fixed;
    left:0;
}
.anim-nav a {
  align-self: center;
  display: block;
  text-align: center;
  font-size: 3rem;
  line-height: 5rem;

}
#anim-menu:checked ~ .anim-nav {
  display:block;
  position: fixed;
  left:0;
  background-color: white;
  z-index: 1;
  height: 100px;
}




* {
  box-sizing: border-box !important;
}

.select {
  width: 100%;
  height: 45px;
  overflow: hidden;
  position: relative;
  border-radius: 4px;
  margin-bottom: 1em;
  background-color:white;
}

.select:after {
  content: "▼";
  position: absolute;
  right: 10px;
  top: 10px;
  text-align: center;
  width: 10%;
  pointer-events: none;
}

.minimal {
  margin: 0 auto;
  height: 45px;
  width: 100%;
  padding: 5px 15px;
  color: #616263;
  background-color: white;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  outline: none;
  font-size: 16px;
  -webkit-appearance: none;
  /* for webkit browsers */
  -moz-appearance: none;
  /* for firefox */
  appearance: none;
  /* for modern browsers */
}

/*center items in one-half*/
@media screen and (max-width: 600px) {
  .center-items {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.center-items h3{
  align-self: flex-start;
}
}

.button-box {
  background: grey;
  border:none;
  border-radius: 5px;
  height: 45px;
  width:fit-content;
  display: inline-flex;
  align-content: center;
}

/* remove default caret for ie */

.minimal::-ms-expand {
  display: none;
}

.minimal:focus:invalid {
  border-color: #FD6347;
}

.minimal:required:valid {
  border-color: #006400;
}


.btn-submit, .btn-report {
  color: #fff;
  display: block;
  padding: 15px;
  text-transform: uppercase;
  background: #535C69;
      background-color: rgb(83, 92, 105);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
}

.btn-submit2 {
  background-color: transparent;
  color: #fff;
  display: block;
  border: none;
  text-transform: uppercase;
  display: inline-block;
}
.btn-report2{
  color: #fff;
  display: block;
  padding: 15px;
  text-transform: uppercase;
  background: grey;

  border: none;
  border-radius: 5px;
   cursor: pointer;
    display: inline-block;
}
.btn-submit:hover {
  background-color: grey;
  color: white;
}
.btn-report:hover
{
  background-color: grey;
    color: white;

}
.buttons {
	float:left;
}
.buttons2 {
	float:right;
}
#topButton {
	float:right;
	
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.dot-yellow {
  height: 25px;
  width: 25px;
  background-color: #FFFF00;
  border-radius: 50%;
  display: inline-block;
}

.dot-red {
  height: 25px;
  width: 25px;
  background-color: #FF0000;
  border-radius: 50%;
  display: inline-block;
}

.dot-green {
  height: 25px;
  width: 25px;
  background-color: #008000;
  border-radius: 50%;
  display: inline-block;
}

.metadata-text {
    color: #666666;
}
